.carta-container {
   /* min-width: 100vw; */

   display: flex;
   gap:1rem;
  }
  
  .carta{
    

    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    /* outline: 5px solid black; */
    border-radius: 2%;
  }

  .carta{
    background: #541D1C;
  }

  .carta-descricao{
    /* text-align: center; */
    background: #FFECD2;
    width: 250px;
    height: 400px;

    padding: 1rem 1rem;
    /* outline: 5px solid black; */
    border-radius: 2%;
  }

  .carta-descricao-titulo{
    text-align: center;
  }
