.inventario-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* min-height: 100vh; */

}

.inventario-lista{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background: #424242;

    width: 450px;
    height: 450px;
}

.inventario-lista li {
    width: 150px; 
    height: 150px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid bisque;
  }
  

.inventario-lista li img{
    max-width: 100%;
  max-height: 100%;
}
